<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agrega tu usuario</title>
</head>
<body>
    <form action="/crear_usuario" method="post">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" name="nombre">
        <label for="especie" class="form-label">Especie</label>
        <input type="text" class="form-control" name="especie">
        <button type="submit" class="btn btn-primary">Agregar</button>
    </form>
    
</body>
</html>