<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patio de juegos</title>
</head>
<body >
    <h1 style="text-align: center;">Bienvenidos !!</h1>
    <section style="display:flex; justify-content: center; flex-wrap: wrap;">        
    

    {% for x in range(0,num): %}
    <div style="background-color: {{color}}; height:100px; width: 100px; border-radius: 10px; margin:10px; "></div>
    {% endfor %}

    
    </section>
    
</body>
</html>