<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listas</title>
<!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
<body > 
    <!-- d-flex justify-content-center -->
    <table class="table table-bordered border-info w-75 p-3 " >
        <thead class="table-info">
            <th >Nombre</th>
            <th>Apellido</th>
            <th>Nombre completo</th>
        </thead>
        <tbody>
            {% for estudiante in estudiantes %}
            <tr>
                <td>{{estudiante["first_name"]}}</td>
                <td>{{estudiante["last_name"]}}</td>
                <td>{{estudiante["first_name"]}} {{estudiante["last_name"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>

</body>
</html>