<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tablero de ajedrez</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>

    {% for a in range(0, filas): %}
        <section>
        {% for i in range (0,columnas):%}
            <div class="cuadro{{(a+i)%2+1}}"></div>
        {% endfor %}
        </section>
    {% endfor %}

</body>
</html>