<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>
    <div class="d-flex justify-content-around bg-light">
        <h1 class="text-muted"> Bienvenid@ {{user_login["first_name"]}}</h1>
        <div class="my-3">
            <a href="/recetas" class="px-3">De vuelta a recetas</a>
            <a href="/cerrar_sesion">Cerrar sesion</a>
        </div>
    </div>
    <div class="d-flex justify-content-around">
        <h2 class="text-muted my-3">{{una_receta.name}}</h2>
        <h5 class="text-muted my-4">Posteado por: {{una_receta.usuarios[0].first_name}}</h5>
    </div>
    <section class="d-flex justify-content-center">
        <table class="table table-borderless w-75 m-5 border">
            <tbody>
                <tr>
                    <th scope="row" class="w-25">Descripción</th>
                    <td>{{una_receta.description}}</td>
                </tr>
                <tr>
                    <th scope="row">Instrucciones</th>
                    <td>{{una_receta.instruction}}</td>
                </tr>
                <tr>
                    <th scope="row">Fecha de preparación</th>
                    <td>{{una_receta.date_made}}</td>
                </tr>
                <tr>
                    <th scope="row">Preparación bajo 30 min</th>
                    {% if una_receta.under=='1':%}
                        <td>No</td>
                        {% else: %}
                        <td>Si</td>
                        {% endif %}
                </tr>
            </tbody>
    </section>


    </table>
    



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

</body>
</html>